<header>
  <div class="padding-top-bottom--up-3">
    <div class="container">
      <nav>
        {{# if @blog.navigation }}
          {{ navigation }}
        {{/ if }}
      </nav>
    </div>
  </div>
</header>
