{{!< default}}

{{# get "posts" slug="home" as |post| }}
  {{# post }}
    <div class="container">
      <div class="grid--up-3">
        <div class="grid-item large--one-two">
          <div class="padding-bottom--up-3 large--padding--none">
            <div class="rte-home">
              {{ content }}
            </div>
          </div>
        </div>

        <div class="grid-item large--one-two">
          <div class="position-relative">
            <div class="image-container box-ratio--1080-1349 box-placeholder">
              <img src="{{ asset 'avatar.jpg' }}" alt="">
            </div>

            <div class="position-absolute position-right position-bottom">
              <div class="box-accent" style="height: 50px; width: 5px;"></div>
            </div>

            <div class="position-absolute position-right position-bottom">
              <div class="box-accent" style="height: 5px; width: 50px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/ post }}
{{/ get }}
